@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
        <div class="container">
            <img src="~/images/KML.png" title="Частное торговое унитарное предприятие КМЛ"/>
        </div>
    <p class="lead">Частное торгое унитарное предприятие КМЛ</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Далее &raquo;</a></p>
</div>